h1 {
  height: 100px;
  text-align: center;
  font-size: 48px;
  font-family: 'Tahoma', sans-serif;
  padding: 10px;
}

p {
  text-align: center;
  font-family: 'Ariel', sans-serif;
}

table, th {
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}

table, tr {
  border: 1px;
}

img {
  height: 200px;
  width: 100px;
  opacity: 0.5;
}

.user img:hover {
  opacity: 1.0;
  filter: blur();
}

.results {
  text-align: center;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}
