html, body {
  margin: 0;
  padding: 0;
  font-family: "Geneva", Tahoma, sans-serif;
}

.container {
  /*max-width: 940px;*/
  height: 600px;
  width: 800px;
  /*margin: 0;*/
  padding: 55px;
  /*background-size: auto;*/
  /*background-repeat: no-repeat;*/

  /*background-color: black;*/
  /*display: inline-block;*/

  /*width: 100%;*/
  /*padding-top: 55px;*/
  /*background-position: bsottom;*/
  /*background-position: center center;*/
  /*background-size: cover;*/
  /*text-align: center;*/
}


/*html {
  height: 100%;
}

body {
  width: 800px;
  height: 100%;
  font-family: 'Roboto', sans-serif;
	font-weight: 100;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: black;
}

header {
  background-color: white;
  padding: 5px;
  font-size: ;
  display: block;
}

.container {
  max-width: 928px;
}*/

/*.main {
  height: 550px;
  width: 100%;
  padding-top: 55px;
  background-position: left;
  background-size: cover;
  text-align: center;
}*/

h1 {
  color: white; /*#117bff;*/
  font-size: 48px;
}

h2 {
  color: white; /*#117bff;*/
  font-size: 36px;
}

h2 #results {
  color: white; /*#4CAF50;*/
}

#home {
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/AP7L52KWPW.jpg");
  background-repeat: no-repeat;
}

#game1 {
  /*rock paper scissors*/
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/MIFDXUR2VY.jpg");
  background-size: cover;
}

#game2 {
  /*fortune cookie*/
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/3F994F7720.jpg");
}

#game3 {
  /*magic 8 ball*/
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/487672CBCC.jpg");
}

#game4 {
  /*whale translator*/
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/280h/46JV8KAX2S.jpg");
}

#game5 {
  /*dog year calculator*/
  background: url("https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/3BI8IJL9D8.jpg");
}

nav {
  float: left;
  background-color: black;
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  height: 25px;
  padding: 12px 18px 8px 18px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

nav li:hover {
	background: #117bff;
	cursor: pointer;
	transition: background .5s;
}

/*section {
  width: 100%;
  display: inline-block;
  float: left;
}*/

.button {
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    padding: 14px 40px;
    margin: 20px;
}

footer {
  width: 790px;
  background-color: none;
  color: #A1A1A1;
  clear: both;
  display: block;
  padding: 10px;
}
