body {
  font-family: Helvetica;
  padding: 2em;
  background-color: whitesmoke;
}

h1 {
  height: 100px;
  text-align: center;
  font-size: 48px;
  font-family: 'Tahoma', sans-serif;
  padding: 10px;
}

p {
  text-align: center;
  font-family: 'Ariel', sans-serif;
}

table, th {
  height: 100px;
  text-align: center;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}

table, tr {
  border: 1px;
}

img {
  height: 200px;
  width: 200px;
  opacity: 0.5;
  /*background-position: center center;
  background-repeat: no-repeat;
  min-height: 100%;
  min-width: 100%;*/
  object-fit: scale-down;
  left: 50%;
  right: 50%;
}

.user img:hover {
  opacity: 1.0;
  filter: blur();
}

.results {
  text-align: center;
  font-size: 24px;
  font-family: 'Tahoma', sans-serif;
}
